<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BS in Computer Science</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, GA</address><time>Expected: 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>Ridley College</span>
            <span><address>St. Catharines, Ontario</address><time>2015</time></span>
        </header>
    </article>
</section>
