<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.jpg" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm a Computer Science student at Georgia Tech with excellent problem solving skills and a constant hunger for learning. I'm ambitious and motivated; and I'm interested in Software Engineering, Natural Language Processing, Artificial Intelligence, and Entrepreneurship.</p>
    <p>
    Download my <a href="https://www.dropbox.com/s/c4dyd3p8du9vn75/Resume_DanielMarcos.pdf?dl=1">resume</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
