---
layout: default
---
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87818804-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>

<div class="related">
  <h2>Related Questions</h2>
  <ul class="related-posts">
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}

      {% for post in site.faq %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for tag in post.tags %}
          {% if post.url != page.url %}
            {% if page.tags contains tag %}
              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}
          <div>
              <span style='font-size:x-large'><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><span>
                      <span style='font-size:small'>{{ commonTags }}</span>
          </div>
          {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {% if maxRelatedCounter >= maxRelated %}
            {% break %}
          {% endif %}
        {% endif %}

      {% endfor %}
    </ul>
</div>
